<h1>This is the admin page</h1>

<p>As Hand of the King you have been appointed and authorised to make decisions on behalf of the Kingdom. As such you have the power and responsiblity to view/add/edit all teams and characters. </p>

<section class=icon-gallery>

  <div class="icon-card">
    <a  href="/admin-teams"> <img class="icon-pic" src="/images/wolf.jpg" alt="View all Teams"></a>
    <div class="icon-details">
      <p> View all Teams </p>
    </div>
  </div>
</div>

<div class="icon-card">
  <a href="/admin-teams/new"><img class="icon-pic" src="/images/stag.jpg" alt="Add a Team"></a>

  <div class="icon-details">
    <p>Add a Team</p>
  </div>
</div>
</div>

<div class="icon-card">
  <a  href="/admin-characters"><img class="icon-pic" src="/images/dragon.png" alt="View all Characters"></a>

  <div class="icon-details">
    <p>View all Characters</p>
  </div>
</div>
</div>

<div class="icon-card">
  <a href="/admin-characters/new"><img class="icon-pic" src="/images/lion.jpg" alt="Add a new Character"></a>

  <div class="icon-details">
    <p>Add a new Character</p>
  </div>
</div>
</div>

</div>
