<div class="home-wall"><span>

  <div class="home-heading">


    <h1>Welcome to a Game of Game of Thones</h1>
    <h4>"When you play the Game of Thrones: You win or you die"</h4>
  </div>
  <div class="home-content">

    <h3> <a href="/teams"> Team standings</a></h3>


  <table class="standings">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
  <%counter = 1 %>
    <%for team in @teams%>
      <tr>
        <td><%= counter%></td>
        <td><%=team.team_name%></td>
        <td><%=team.score%></td>
      </tr>
    <%counter = counter+1%>
    <%end%>

  </table>
  </div>
</span></div>
