<!DOCTYPE html>
<html>
<head>
 <title>A Game of Game of Thrones</title>
</head>
<body>
 <nav>
   <ul>
     <li><a href="/teams">League</a> </li>
     <li><a href="/characters">Characters</a> </li>
     <li><a href="/scoring">Scoring</a> </li>

   </ul>
 </nav>
 <%= yield %>
</body>
</html>
