<h1>Team standings</h1>


  <% @teams.each do |team| %>
    <p> Name: <a href="/teams/<%= team.id %>"> <%= team.team_name %> </a> </p>
    <p> Owner: <%=team.owner%> </p>

    <p> Score: <%= team.score %> </p>
  <p>--------------------</p>
  <% end %>
