<h1>Character List</h1>

<form action="/free_agents" method="get">
  <!-- <input type="hidden" name="_method" value=""> -->
  <input type="submit" value="Free Agents">
</form>


<section class="character-gallery">

  <% @characters.each do |character| %>
  <div class="character-card">
    <img class="character-pic" src="<%= character.pic_url %>" onerror="this.src='/images/2rqqg5.jpg';"/>
    <div class="character-details">

      <p> Name: <a href="/characters/<%= character.id %>"> <%= character.name %> </a> </p>
      <p> Score: <%= character.score %> </p>
      </div>
    </div>
  </div>
  <% end %>


</div>
