<h2>Uh ho looks like your team is full adventurer</h2>

<section class="team-about">
  <div class="gif-card">

    <p>Try dropping a Character before adding more.</p>



    <img class="gif" src="https://media.giphy.com/media/Af58ccDWAFXDG/giphy.gif" alt="">


    <div class="select-btn">

      <form action="/teams" method="get">
        <!-- <input type="hidden" name="_method" value=""> -->
        <input type="submit" value="Ok">
      </form>
    </div>
  </div>
</section>
