body{
  font-family: GameOfThrones, fantasy, sans-serif;
  color: white;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  background-image: url('/images/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
a:hover {
  color: #af111c;
}
h1 {
  justify-content: center;
}


h4 {
  text-align: center;
}

p {
  font-size: 12px
}

/* NAV BAR */

.navbar > ul{
  display: flex;
  justify-content: space-around;
  height: 4rem;
  line-height: 4rem;
  padding: 5px;
  border-bottom: 1px solid #eeedf2;
  margin-bottom: 10px;
}

.home-wall {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;

}
.home-wall span {
  background: rgba(0,0,0,0.5);
}

.home-heading {
  text-align: : center;
  line-height: 3rem;
  padding-bottom: 1rem;
}

.home-content{
  line-height: 2rem;
  border: .5px solid #707070;
}

/* positioning of standings tables  */
.standings {
  display: flex;
  justify-content: center;
  line-height: 2.5rem;

}

/* scoring text */

.scoring {
  display: grid;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  padding: -2rem;
  border: -2rem;
}
