<h1>Character List</h1>


  <% @characters.each do |character| %>
    <img src="<%= character.pic_url %>" alt="">
    <p> Name: <a href="/admin-characters/<%= character.id %>"> <%= character.name %> </a> </p>
    <p> Score: <%= character.score %> </p>
  <p>--------------------</p>
  <% end %>
